ul {
	list-style-type: none;
	padding:0px;
	margin:0px;

}
p{
	line-height:18px;
	margin-top:10px;
}
.body-holder,.sections-holder{
	width:1000px;
	margin:0 auto;
}
.sections-holder{
	padding-top:20px;
}
.left-content{
	width:700px;
	float:left;
}
.right-content{
	width:300px;
	float:left;
}
.remove-float{
	display: block;
    content: "";
    clear: both;
}


li a {
display: block;
text-decoration: none;
color: #fff;
font: normal 100% arial, sans-serif;
padding: 9px 26px 6px 26px;
float: left;
margin: 10px 0 0 10px;
text-transform: uppercase;
height: 10px;

}
#menubar
{

width:1000px;
height: 60px;
background: transparent url(mn.png) repeat;

}
#menu
{
margin-left: auto;
margin-right: auto;
}
li {
	display: inline-block;
	text-align: center;
	text-color:white;

}

a, a:hover {

	    color: #7E2451;
		text-decoration: underline;
}
h3{

}
#myId{

}
.myClass{
	
}

#sidebar
{
	float: right;
	height: 200px;
	 width: 210px;
  padding: 0 0 7px 0;
}
html,body {
	background-color: #333;

	background: #F0EFE2
	url(bk.png)
	repeat;
	font:normal.92em 'trebuchet ms', arial, sans-serif;
	color: #000;
}
body {
	display: block;
	color: #000;

}
*
{
margin: 0px;
padding: 0px;
}
#header
{
	width: 1000px;

    height: 148px;
    border-bottom: 2px solid #822956;
    padding: 22px 0 0 0;
    color: #000;
    letter-spacing: -1px;
    text-decoration: none;
	font-size: 100%;
  padding: 4px 0 0 0;
}

#header,#menubar #menu{

}
#content
{
	margin-left: auto;
	margin-right: auto;
}
.footer{
	margin-top:20px;
	border-top: 2px solid #822956;
}
